body {
    background-color: #000;
    
}
.footer {
    margin-top: 195px;
}

.cards-wrapper {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 60px 0;
    background: #000;
}

.cards-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 35px;
}

.cards {
    background: #0d0d0d;
    border-radius: 18px;
    padding: 22px;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.07);
    transition: 0.3s ease;
    position: relative;
}

.cards img {
    width: 100%;
    height: 140px;
    border-radius: 14px;
    object-fit: cover;
    transition: 0.4s ease;
}

.cards p {
    color: #cfcfcf;
    font-size: 15px;
    margin-top: 15px;
    line-height: 1.5;
}
